:root {
	--accent: #5dca36;
	--second-accent: #fed361;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: AbrilFatFace;
	src: url(./asset/fonts/AbrilFatface-Regular.ttf);
}

@font-face {
	font-family: Merriweather;
	src: url(./asset/fonts/merriweather/Merriweather-Black.ttf);
	font-weight: 900;
}
@font-face {
	font-family: Merriweather;
	src: url(./asset/fonts/merriweather/Merriweather-BlackItalic.ttf);
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: Merriweather;
	src: url(./asset/fonts/merriweather/Merriweather-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: Merriweather;
	src: url(./asset/fonts/merriweather/Merriweather-BoldItalic.ttf);
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: Merriweather;
	src: url(./asset/fonts/merriweather/Merriweather-Italic.ttf);
	font-style: italic;
}
@font-face {
	font-family: Merriweather;
	src: url(./asset/fonts/merriweather/Merriweather-Light.ttf);
	font-weight: 300;
}
@font-face {
	font-family: Merriweather;
	src: url(./asset/fonts/merriweather/Merriweather-LightItalic.ttf);
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: Merriweather;
	src: url(./asset/fonts/merriweather/Merriweather-Regular.ttf);
	font-weight: 400;
}

body {
	background-color: #e4e2fa;
	background: radial-gradient(circle at right top, #5f5c6b, #e4e2fa);
	color: #201f24;
	overflow-x: hidden;
	overflow-y: overlay;
}

h1 {
	font-family: AbrilFatFace;
}

h2 {
	font-family: sans;
}

#typography {
	height: 100vh;
	width: 100vw;
	display: grid;
	padding: 10%;
	overflow: hidden;
	text-align: left;
}

#typography img {
	right: 0;
	object-position: left;
	object-fit: contain;
	position: absolute;
	width: 500px;
	bottom: 0;
	filter: drop-shadow(0px 0px 100px white);
}

.text {
	width: 100%;
}

.text h1 {
	width: 500px;
	font-size: 100px;
	font-weight: normal;
}

.text span {
	font-size: 50px;
	font-family: Merriweather;
}

#facts {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: grid;
	padding: 40px;
	gap: 40px;
	position: relative;
	grid-template-columns: repeat(4, 1fr);
}

.factsContainer {
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

.catFact {
	width: 100%;
	height: 500px;
	position: absolute;
	left: 0;
	cursor: pointer;
	overflow: hidden;
	background-color: #201f24;
	position: absolute;
	display: grid;
	border-radius: 30px;
	grid-template-rows: auto max-content;
	z-index: 1;
}

.catFact span {
	padding: 20px;
	color: white;
	display: block;
	width: 100%;
	font-family: Merriweather;
	height: 100%;
}

.catFact div {
	background-color: white;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}

.githubLink {
	text-decoration: underline;
	color: black;
	position: fixed;
	z-index: 13;
	left: 40px;
	bottom: 20px;
}

#botis {
	position: absolute;
	right: 40px;
	z-index: 11;
	font-size: 40px;
	bottom: 20px;
	cursor: pointer;
}
